            .platypi {
          font-family: "Platypi", Georgia,serif;
          font-optical-sizing: auto;
          font-weight: 300;
          font-style: normal;
        }

        h1,h6,h4{
            color:brown;
        }
        .left{
            background-color: #d2b48c;
            height:100vh;


        }
        .right{

            height: 100vh;
             background-image: url("beauty.JPG");
            background-size: cover;
        }

        .main{
            height:100vh;
        }
        .btn-rounded{
            border-radius: 20px;
            color: brown;
            background-color: white;
            padding:10px;
            width:250px;

        }

